#form {
    width:450px;
    margin:auto;
    background-color:#5C1D11;
    border:none;
border-radius:25px;
}
#form legend{
    font-weight:bold;
    font-size:14px;
	
    color:#FFFFFF;
    background-color:#000000;
    padding:3px 8px 3px 8px;
}
#form ol{
    list-style:none;
}
#form ol li{
    padding-bottom:5px;
}
#form ol li label{
    width:120px;
    float:left;
    text-align:left;
    color:#FFFFFF;
}
#form input[type=text] {
    border:none;   
    background-color:#19CAFF;
    height:30px;
    width:254px;
}
#form input.btn {
    padding:3px;
    color:#FFFFFF;
    background-color:#576F00;
    border:1px solid #000000;
}


